// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#videos {
  margin: 0 40px;
  #show {

    #video-box {
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
      .main-panel {
        margin-top: 10px;
      }
      li.list-item-related {
        margin: 10px;
        width: 370px;
        list-style-type: none;
        .thumb-related {
          width: 120px;
          margin-right: 10px;
        }
        .relation_pin_info {
          width: 240px;
          margin-bottom: 5px;
        }
      }
      .info {
        .byline {
          margin-left: 10px;
        }
      }
    }
  }
}