$primary: #00FFFF;
@mixin rounded_corners($radius: 3px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
body {
  padding-top: 50px;
  background: none repeat scroll 0 0 rgb(242,242,242);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1em;
  color: #333333;
}

a {
  color: #333;
  &:hover {
    text-decoration: none;
    color: #428bca;
  }
}

.main-containar {
  padding: 30px 0;
}
.centered { margin: 0 auto; }

#timeline {
  position: relative;
  padding: 0 0 120px;
  .item {
    width: 238px;
    padding: 0;
    margin: 7px;
    float: left;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    font-size: 11px;
    position: relative;
    overflow: hidden;
    list-style-type: none;
    & > .like_add_container {
      position: absolute;
      top: 6px;
      left: 6px;
      z-index: 100;
      display: none;
      li {
        float: left;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
    & > .video_container {
      padding: 0 0 6px;
      position: relative;
      .pin_ads_area {
        margin: 10px 6px 0;
      }
      & > .video_inner_image {
        position: relative;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 5px;
      }
      & > .video_title_area {
        padding: 0 10px;
        margin-bottom: 4px;
        .title {
          margin: 0;
          float: left;
          font-size: 10px;
          line-height: 14px;
          font-weight: bold;
        }
      }
      & > p.description {
        padding: 0 10px;
        font-size: 10px;
        margin-bottom: 4px;
        line-height: 14px;
      }
      & > .like_add_count {
        text-align: left;
        color: #8C7E7E;
        margin-left: 10px;
        margin-top: 3px;
        font-size: 11px;
        & > i {
          margin-left: 10px;
        }
      }
    }
    & > .video_comments {
      text-align: left;
      background-color: #fff;
      & > .comment {
        padding: 7px 10px;
        border-bottom: 1px solid #E9E4E4;
        border-top: 1px solid #FCFAFA;
        word-wrap: break-word;
        & > .comment_image {
          width: 30px;
          float: left;
        }
        & > .comment_contents {
          width: 156px;
          float: left;
          margin-left: 6px;
          p.comment_username {
            margin-top: -2px;
          }
          p.contents {
            font-size: 11px;
          }
        }
      }
      .comment:first-child {
        border-top: none;
      }
      .comment:last-child {
        border-bottom: none;
      }
    }
  }
}

.GrayColor {
  color: #8C7E7E;
  a {
  color: #8C7E7E;
  outline: medium none;
  font-weight: normal;
  text-decoration: none;
  }
  a:hover {
  color: #8C7E7E;
  text-decoration: underline;
  }
}

.video_comments {
  .pin_user {
    width: 154px;
    float: left;
    margin-left: 6px;
    line-height: 13px;
    color: #8C7E7E;
  }

  .pin_user a {
    color: #8C7E7E;
    font-weight: bold;
  }
}

#add_movie {
  p.add_movie_topic {
    font-size: 20px;
    margin: 10px 0;
  }
  #url_form {
    margin: 10px 0;
    .url_form_field {
      margin: 15px 0 10px;
    }
  }
  .url_form_add_link {
    text-align: center;
  }
  .add_movie_url_form {
    width: 420px;
    height: 33px;
    font-size: 13px;
  }
  .url_form_submit {
    text-align: center;
    margin: 15px 0;
  }
}

#bs-example-navbar-collapse-1.collapse.navbar-collapse {
  ul.nav.navbar-nav > li > a {
    color: #ddd !important;
    &:hover {
      color: #bbb !important;
    }
  }
}