/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .//common
 *= require_tree .//page
 *= require_tree .//third_party
 *= require font-awesome
 */

.item {
  width: 212px;
  padding: 0;
  margin: 7px;
  float: left;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  font-size: 11px;
  position: relative;
  overflow: hidden;
  list-style-type: none;
}
#timeline {
  position: relative;
  padding: 0 0 120px;
}